/* These are variables in CSS */
:root {
    --left-container: #006699;
    --left-top-container: #FF6600;
    --left-inner-container: #FFCC00;

    --right-container: #666600;
    --right-top-container: #ff6633;
    --right-inner-container: #ffcc00;

}

/* Change everything below here for the assignment */

/* Left Container */

#left-container {
    background-color: var(--left-container);
    color: white;

}


#left-top-container {
    background-color: var(--left-top-container);
    margin-top: 5%;
    margin-left:  10%;
    width: 60%;
    height: 35%;
}

#left-bottom-container {
    background-color: var(--left-top-container);
    margin-top: 25%;
    margin-left: 15%;
    padding: 35% 0 15% 45%;
    width: 75%;
    height: 20%;
}

#container-a {
    color: black;
    background-color: var(--left-inner-container);
    display: inline-block;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left:  70%;
    padding-right: 70%;
    margin: 60% 10% 10% 0;


}

#container-b {
    background-color: var(--left-inner-container);
    color: black;
    width: 60%;
}

/* Right Container */

#right-container {
    background-color: var(--right-container);
    color: white;
}

#right-top-container {
    background-color: var(--right-top-container);
    width: 40%;
    height: 10%;
    margin-top: 5%;
    margin-left: 40%;
}

#right-middle-container {
    background-color: var(--right-top-container);

        width: 100%;
}

#right-bottom-container {
    background-color: var(--right-top-container);
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-bottom: 25%;
}

#container-c {
    background-color: var(--right-inner-container);
    color: black;
  padding: 0 10% 30% 0;
    margin: 0 30% 0 30%;
}

#container-d {
    background-color: var(--right-inner-container);
    color: black;
      margin-left: 5%;
    margin-right: 45%;
    margin-top: 10%;
    margin-bottom: 40%;
    text-align: right;
}

#container-e {
    background-color: var(--right-inner-container);
    color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 35%;
    margin-right: 20%;
        text-align: right;
}
